* {
	box-sizing: border-box;
}
html,
body {
	height: 100%;
}
body {
	margin: 0;
	flex: 1 0 auto;
}
#root {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.wrapper {
	max-width: 90%;
	margin: 1rem auto;
}
.main__block {
    width: 90vw;

    h1 {
        text-align: center;
    }
}
.detail__wrapper {
	padding: 2rem;
	border-radius: 5px;
	max-width: 600px;
	margin-top: 2rem;
	background-color: $colour-primary;
	color: white;
}